    <!-- 左邊選單 -->
    <div class="sidebar">
        <div class="nano">
            <div class="nano-content">
                 <ul>
                    <li class="label">CUT OF PORK</li>
                    
                   <li><a class="sidebar-sub-toggle"> 豬頰肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'pigpig:a' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:a' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:a' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"> 松阪肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                       <ul>
                            <li><a href="{% url 'pigpig:b' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:b' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:b' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"> 梅花肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'pigpig:c' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:c' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:c' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"> 大里肌 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                       <ul>
                            <li><a href="{% url 'pigpig:d' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:d' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:d' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"> 腰內肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'pigpig:e' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:e' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:e' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"> 五花肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'pigpig:f' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:f' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:f' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"> 後腿肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'pigpig:g' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:g' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:g' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"> 腿庫 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'pigpig:h' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:h' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:h' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"> 豬腳 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'pigpig:i' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:i' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:i' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>                  
                                                            
                    <li><a class="sidebar-sub-toggle"> 豬耳 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                       <ul>
                            <li><a href="{% url 'pigpig:j' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:j' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:j' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                 
                    <li><a class="sidebar-sub-toggle"> 胛心肉 <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'pigpig:k' %}#Taste">口感</a></li>
                            <li><a href="{% url 'pigpig:k' %}#cooking">料理</a></li>
                            <li><a href="{% url 'pigpig:k' %}#Recipe">參考食譜</a></li>
                        </ul>
                    </li>
                    
                    
                   
                </ul>
            </div>
        </div>
    </div>
   
    <div class="header">
        <div class="pull-left">
            <div class="logo"><span><img src="https://img.icons8.com/color/30/000000/pig.png">PigPig</span></a></div>
            <div class="hamburger sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span><!-- 左上角三條線 -->
            </div>
        </div>
        <div class="pull-right p-r-15">
            <ul>
                <li class="header-icon dib"><img class="avatar-img" src="/static/pigpig/assets/images/avatar/1.png" alt="" /> 
                    <span class="user-avatar"><a href="{% url 'pigpig:pigpig' %}">Home</a></span>
                    
                </li>
            </ul>
        </div>
    